
/* Tipo */
.check-element {
  height: 360px; /* Establece una altura máxima para el contenedor */
}

.checkbox-1 .custom-control-input:checked~.custom-control-label::before {
  background-color: #ff9999 !important;
  border-color: #ff9999 !important;
}

.checkbox-2 .custom-control-input:checked~.custom-control-label::before {
  background-color: #99ff99 !important;
  border-color: #99ff99 !important;
}

.checkbox-3 .custom-control-input:checked~.custom-control-label::before {
  background-color: #9999ff !important;
  border-color: #9999ff !important;
}

.checkbox-4 .custom-control-input:checked~.custom-control-label::before {
  background-color: #ffff99 !important;
  border-color: #ffff99 !important;
}

.checkbox-5 .custom-control-input:checked~.custom-control-label::before {
  background-color: #ffcc99 !important;
  border-color: #ffcc99 !important;
}

.checkbox-6 .custom-control-input:checked~.custom-control-label::before {
  background-color: #cc99ff !important;
  border-color: #cc99ff !important;
}

.checkbox-7 .custom-control-input:checked~.custom-control-label::before {
  background-color: #99ffff !important;
  border-color: #99ffff !important;
}

.checkbox-8 .custom-control-input:checked~.custom-control-label::before {
  background-color: #ff99cc !important;
  border-color: #ff99cc !important;
}

.checkbox-9 .custom-control-input:checked~.custom-control-label::before {
  background-color: #ccff99 !important;
  border-color: #ccff99 !important;
}

.checkbox-10 .custom-control-input:checked~.custom-control-label::before {
  background-color: #33cccc !important;
  border-color: #33cccc !important;
}

table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
  /* Calendar */
  .block-day {
    background-color: #27272a !important;
    color: #474747;
  }
  .current-day {
    background-color: #FBBA31 !important;
    color: black;
  }
  .selected-day {
    background-color: lightblue !important;
    color: black;
  }
  .range-day {
    background-color: #dddbd9 !important;
    color: black;
  }
  .days-selected {
    background-color: #FBBA31 !important;
    color: #1F1706;
  }
  #calendarTable th, td{
     border: 0 !important;
  }
  .calendar-date-title{
    font-size: 25px;
    font-weight: bold;
  }