@import url('https://fonts.google.com/specimen/Inter?query=inter ');

.navbar-brand.logo {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.navbar a {
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
}
.navbar li {
    font-size: 10px;
}