

.navbar-brand.logo {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.navbar a {
    font-family: 'Inter', sans-serif; 
    font-size: 13px;
}
.navbar li {
    font-size: 10px;
}

.navbar-nav li:hover .nav-link {
    color: black;
    background-color: rgba(251, 186, 49, 1);
    transition: all .5s;
    border-radius: 10px;
}

.dropdown-menu .dropdown-item:hover {
    color: black;
    background-color: rgba(251, 186, 49, 1);
    transition: all .5s;
    border-radius: 10px;
}

.dropdown-menu-dark.inside {
    display: none;
}
